## SQL - Quiz 5

### 1 - Return the most recent price for a given product in the table, sorted by product in increasing order.

Available Tables:
- bootcamp.product_prices

Expected Output Columns:
- product_id bigint
- price double
- effective_date date

Option  1 - using WINDOW function:

SELECT product_id, price, effective_date
FROM (
    SELECT 
        product_id,
        price,
        effective_date,
        ROW_NUMBER() OVER (
            PARTITION BY product_id 
            ORDER BY effective_date DESC
     ) AS row_num
    FROM bootcamp.product_prices
) t
WHERE row_num = 1
ORDER BY product_id; ✅

Option  2 - using WINDOW function:

SELECT 
    prod.product_id, 
    prod.price, 
prod.effective_date
FROM bootcamp.product_prices AS prod
JOIN (
    SELECT 
        product_id, 
        MAX(effective_date) AS latest_date
    FROM bootcamp.product_prices
    GROUP BY product_id
     ) AS max 
ON prod.product_id = max.product_id 
AND prod.effective_date = max.latest_date
ORDER BY prod.product_id; ✅

### 2 - Return the orders with missing customers.

Available Tables:
- bootcamp.orders
- bootcamp.customers

Expected Output Columns:
- order_id bigint
- customer_id bigint
- order_date date

SELECT 
    o.order_id, 
    o.customer_id, 
    o.order_date
FROM bootcamp.orders AS o
LEFT JOIN bootcamp.customers AS c 
    ON o.customer_id = c.customer_id
WHERE c.customer_id IS NULL; ✅

### 3 - Given a table bookings (room_id, start_date, end_date), list all pairs of bookings that overlap for the same room.

Available Tables:
- bootcamp.bookings

Expected Output Columns:
- room_id integer
- booking1 integer
- booking2 integer
- overlap_start date
- overlap_end date

Option 1 - using ROW_NUMBER option:

WITH b AS (
  SELECT
    ROW_NUMBER() OVER (ORDER BY room_id, start_date) AS booking_id,
    room_id,
    start_date,
    end_date
  FROM bootcamp.bookings
)
SELECT
  b1.room_id,
  b1.booking_id AS booking1,
  b2.booking_id AS booking2,
  GREATEST(b1.start_date, b2.start_date) AS overlap_start,
  LEAST(b1.end_date, b2.end_date) AS overlap_end
FROM b AS b1
JOIN b AS b2
  ON b1.room_id = b2.room_id
  AND b1.booking_id < b2.booking_id
  -- strict overlap (no boundary-touch cases)
  AND b1.start_date < b2.end_date
  AND b1.end_date > b2.start_date
ORDER BY room_id, booking1, booking2; ✅

Option 2 - using SELF join option:

SELECT 
    b1.room_id,
    b1.id      AS booking1,
    b2.id      AS booking2,
    GREATEST(b1.start_date, b2.start_date) AS overlap_start,
    LEAST(b1.end_date, b2.end_date)        AS overlap_end
FROM bootcamp.bookings b1
JOIN bootcamp.bookings b2
  ON b1.room_id = b2.room_id
  AND b1.id < b2.id
  AND b1.start_date < b2.end_date
  AND b2.start_date < b1.end_date
ORDER BY room_id, booking1, booking2; ✅