## SQL - Quiz 6

### 1 - List all customers who have not placed any orders.

Available Tables:
- bootcamp.quiz_customers
- bootcamp.quiz_orders

Expected Output Columns:
- customer_id integer
- customer_name varchar

Option 1 - using LEFT JOIN:

SELECT 
    c.customer_id, 
    c.customer_name
FROM bootcamp.quiz_customers AS c
LEFT JOIN bootcamp.quiz_orders AS o
    ON c.customer_id = o.customer_id
WHERE o.customer_id IS NULL
ORDER BY c.customer_id;

Option 2 - using NOT EXISTS:

SELECT 
    c.customer_id, 
    c.customer_name
FROM bootcamp.quiz_customers AS c
WHERE NOT EXISTS (
    SELECT 1
    FROM bootcamp.quiz_orders AS o
    WHERE o.customer_id = c.customer_id
)
ORDER BY c.customer_id;

### 2 - Given a table quiz_orders(order_id, customer_id, order_date) where order_id should be consecutive daily numbers, list any missing order_ids

Available Tables:
- bootcamp.quiz_orders

Expected Output Columns:
- missing_id integer

WITH ordered AS (
    SELECT 
        order_id,
        LEAD(order_id) OVER (ORDER BY order_id) AS next_order_id
    FROM bootcamp.quiz_orders
)

SELECT 
    order_id + 1 AS missing_id
FROM ordered
WHERE next_order_id IS NOT NULL
  AND next_order_id > order_id + 1
ORDER BY missing_id;

### 3 - A table orders(id, payload VARCHAR) stores a JSON document per order, e.g.: 
### Produce a result set with one row per orderâ€‘item, containing:
| order_id | customer | sku | total_price | region | channel |

total_price = price * qty. Only include items where total_price > 25 USD.

Available Tables:
- bootcamp.quiz_orders_json

Expected Output Columns:
- order_id integer
- customer varchar
- sku varchar
- total_price double
- region varchar
- channel varchar

WITH parsed AS (
    SELECT
        id,
        json_parse(payload) AS doc
    FROM bootcamp.quiz_orders_json
),

flattened AS (
    SELECT
        p.id,
        json_extract_scalar(p.doc, '$.customer') AS customer,
        itm.item,
        json_extract_scalar(itm.item, '$.sku') AS sku,
        CAST(json_extract_scalar(itm.item, '$.price') AS DOUBLE) *
        CAST(json_extract_scalar(itm.item, '$.qty')   AS DOUBLE) AS total_price,
        json_extract_scalar(p.doc, '$.metadata.region') AS region,
        json_extract_scalar(p.doc, '$.metadata.channel') AS channel
    FROM parsed AS p
    CROSS JOIN UNNEST(
        CAST(json_extract(p.doc, '$.items') AS ARRAY(JSON))
    ) AS t(item)               -- <-- correct alias: column name is *item*
    -- give the unnested column a short alias for readability
    CROSS JOIN LATERAL (SELECT t.item AS item) AS itm
)

SELECT
    id AS order_id,
    customer,
    sku,
    total_price,
    region,
    channel
FROM flattened
WHERE total_price > 25
ORDER BY order_id, sku;