## SQL - Quiz 7

### 1 - Which SQL construct can be used to transform rows into columns without using vendor‑specific PIVOT syntax?

UNION ALL with ROW_NUMBER()

FULL OUTER JOIN on a derived table

CTE with LAG()

GROUP BY with CASE expressions ✅

### 2 - Which of the following returns rows that appear in both tables TABLE_A and TABLE_B but only once, regardless of duplicates in the source tables?

SELECT * FROM TABLE_A INTERSECT SELECT * FROM TABLE_B ✅

SELECT * FROM TABLE_A EXCEPT SELECT * FROM TABLE_B

SELECT * FROM TABLE_A A INNER JOIN TABLE_B B ON A.id = B.id

SELECT * FROM TABLE_A UNION SELECT * FROM TABLE_B

### 3 - What is the output of LAG(salary, 1, 0) in a window function when the first row has no preceding value?

0 ✅

The first row’s salary

NULL

1

### 4 - What is the result of ROW_NUMBER() when there are duplicate values and no PARTITION BY?

Skipped numbers after duplicates.

Consecutive numbers regardless of duplicates. ✅

Error.

Same number for duplicates.

### 5 - Which query will not use an index on the Name column? (Assume there is a index on Name )

SELECT * FROM Users WHERE Name LIKE 'Jo%';

SELECT Name FROM Users WHERE Name = 'John';

SELECT * FROM Users WHERE Name = 'John';

SELECT * FROM Users WHERE Name LIKE '%ohn'; ✅