## SQL - Quiz 2

### 1 - Which clause filters groups after aggregation?

GROUP BY

WHERE

HAVING ✅

FILTER

### 2 - Which statement about NULL and AVG() is true?

AVG ignores NULLs. ✅

AVG returns NULL if any NULL present.

AVG treats NULL as MIN(salary).

AVG counts NULLs as zero.

### 3 - Which query returns the average order total rounded to 2 decimals?

SELECT ROUND(AVG(total), 2) FROM orders; ✅

SELECT FORMAT(AVG(total), 2) FROM orders;

SELECT CAST(AVG(total) AS DECIMAL(2, 10)) FROM orders;

SELECT AVG(ROUND(total,2)) FROM orders;

### 4 - Explain why COUNT(*) and COUNT(column) can return different results. Give an example.

COUNT(*) counts all rows, including the rows which have NULL values.
COUNT(column) ONLY counts rows where there are values or non-NULL values. 

Example: If we have a table with rows: a, b, NULL -> COUNT(*) = 3, while COUNT(column) = 2 (it excludes the NULL value). ✅