## SQL - Quiz 3

### 1 - Write a query that returns each row with a running total of amount per salesperson ordered by sale_date.

Available Tables:
- bootcamp.sales

Expected Output Columns:

- sale_id integer
- salesperson varchar
- sale_date date
- amount integer
- running_total bigint

SELECT
    sale_id,
    salesperson,
    sale_date,
    amount,
    SUM(amount) OVER (
        PARTITION BY salesperson
        ORDER BY sale_date
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) AS running_total
FROM bootcamp.sales
ORDER BY salesperson, sale_date; ✅

### 2 - Return the top score per game_date including ties (if two players share top score, include both). Also include rank and total players that day.

Available Tables:
- bootcamp.scores

Expected Output Columns:
- game_date date
- player_id integer
- score integer
- score_rank bigint
- players_that_day bigint

WITH ranked AS (
    SELECT
        game_date,
        player_id,
        score,
        DENSE_RANK() OVER (
            PARTITION BY game_date
            ORDER BY score DESC
        ) AS score_rank,
        COUNT(*) OVER (PARTITION BY game_date) AS players_that_day
    FROM bootcamp.scores
)
SELECT
    game_date,
    player_id,
    score,
    score_rank,
    players_that_day
FROM ranked
WHERE score_rank = 1
ORDER BY game_date, player_id; ✅

### 3 - Assume a session is a series of events for the same user where consecutive events are no more than 30 minutes apart. Assign session numbers per user, show session start, end, duration (in minutes), and event count.

Available Tables:
- bootcamp.logs

Expected Output Columns:
- user_id varchar
- session_num bigint
- session_start timestamp
- session_end timestamp
- duration_minutes bigint
- event_count bigint

WITH diffs AS (
  SELECT
    *,
    LAG(event_time) OVER (PARTITION BY user_id ORDER BY event_time) AS prev_time
  FROM bootcamp.logs
),
flags AS (
  SELECT
    *,
    CASE
      WHEN prev_time IS NULL THEN 1
      WHEN date_diff('minute', prev_time, event_time) > 30 THEN 1
      ELSE 0
    END AS is_new_session
  FROM diffs
),
sessions AS (
  SELECT
    *,
    SUM(is_new_session) OVER (PARTITION BY user_id ORDER BY event_time
      ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS session_num
  FROM flags
)
SELECT
  user_id,
  session_num,
  MIN(event_time) AS session_start,
  MAX(event_time) AS session_end,
  date_diff('minute', MIN(event_time), MAX(event_time)) AS duration_minutes,
  COUNT(*) AS event_count
FROM sessions
GROUP BY user_id, session_num
ORDER BY user_id, session_num; ✅